.App {
  background-color: #181D31;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  text-align: start;
  color: #ead8b8;
}

.App-link {
  color: #61dafb;
}

