.nftCard {
  background-color: #f0e9d2;
  min-width: 200px;
  width: 250px;
  height: 360px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
  margin: 10px 5px;
}
.nftCard .nftCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  gap: 20px;
}
.nftCard .nftCardContainer {
  background-color: #67898399;
  width: 95%;
  height: 196px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 4px 0px #00000080;
}
.nftCard .nftCardContainer img {
  position: relative;
  top: 5px;
  z-index: 12;
  animation: floating 3s ease-out infinite;
}
.nftCard .nftCardContainer::after {
  position: relative;
  content: "";
  width: 82px;
  height: 20px;
  left: 0;
  top: -2px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  animation: shadow 3s ease-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-9px);
  }
}
@keyframes shadow {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.87);
  }
}
.nftCard .name {
  width: fit-content;
  font-size: 25px;
  font-weight: 600;
  color: #2c2e37;
  align-self: flex-start;
}
.nftCard button {
  width: 100%;
  border: 3px solid #000000;
  border-radius: 15px;
  padding: 13px 10px;

  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.5);
}
.nftCard button.not_for_sale {
  background: #343434;

  color: white;
  cursor: not-allowed;
}
.nftCard button.buy {
  background: #f8cc82;
  color: #2c2e37;
  cursor: pointer;
}
.nftCard button.buy:active {
  box-shadow: 0px 10px 4px 0px #00000080 inset;
}
